.page__lecture_read .site__content {
  max-width: 1200px;
}

.page__lecture_read .site__content .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
  margin-top: -5px;
}

@media screen and (max-width: 1200px) {
  .page__lecture_read .site__content .navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page__lecture_read .site__content .navigation span.navigation__item {
    -webkit-box-flex: 100% !important;
        -ms-flex: 100% !important;
            flex: 100% !important;
  }
}

.page__lecture_read .site__content .navigation > .navigation__item {
  color: black;
  text-decoration: none;
}

.page__lecture_read .site__content .navigation > .navigation__item.for-mobile {
  display: none !important;
}

@media screen and (max-width: 1200px) {
  .page__lecture_read .site__content .navigation > .navigation__item.for-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.page__lecture_read .site__content .navigation > .navigation__item.for-desktop {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media screen and (max-width: 1200px) {
  .page__lecture_read .site__content .navigation > .navigation__item.for-desktop {
    display: none !important;
  }
}

.page__lecture_read .site__content .navigation > .navigation__item > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid white;
}

.page__lecture_read .site__content .navigation > .navigation__item > div:hover {
  color: #0065b3;
  cursor: pointer;
  border: 1px solid #0065b3;
}

.page__lecture_read .site__content .navigation > .navigation__item > div:hover .arrow {
  border-top: 1px solid #0065b3;
  border-right: 1px solid #0065b3;
}

.page__lecture_read .site__content .navigation > .navigation__item .arrow {
  width: 10px;
  height: 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.page__lecture_read .site__content .navigation > .navigation__item .prev > .arrow {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.page__lecture_read .site__content .navigation > .navigation__item .select__drop-menu {
  display: none;
  position: absolute;
  background-color: white;
  padding: 5px 0px;
  -webkit-box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.13), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.13), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.11);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.page__lecture_read .site__content .navigation > .navigation__item .select__drop-menu.active {
  display: block;
}

.page__lecture_read .site__content .navigation > .navigation__item .select__drop-menu .chapter__name {
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

.page__lecture_read .site__content .navigation > .navigation__item .select__drop-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  border-left: 3px solid rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
  font-size: 0.9rem;
}

.page__lecture_read .site__content .navigation > .navigation__item .select__drop-menu a:hover {
  background-color: #f2f2f2;
  border-left: 3px solid #0078d4;
  border-right: 3px solid #f2f2f2;
  -webkit-text-decoration: underline #0065b3;
          text-decoration: underline #0065b3;
}

.page__lecture_read .site__content .navigation > .navigation__item .select__drop-menu a.selected {
  background-color: #f2f2f2;
  border-left: 3px solid #0078d4;
  border-right: 3px solid #f2f2f2;
}

.page__lecture_read .site__content .navigation > .navigation__item .select__drop-menu a.selected .lecture__name {
  font-weight: 500;
}

.page__lecture_read .site__content .navigation > .navigation__item .select__drop-menu a p {
  padding: 5px 15px;
  margin: 5px 0;
  color: #0065b3;
}

.page__lecture_read .site__content .navigation > .navigation__item .select__drop-menu a .lecture__name {
  max-width: 50vw;
}

.page__lecture_read .site__content .navigation > .navigation__item .select__drop-menu a .lecture__time {
  text-align: right;
  min-width: 75px;
}

.page__lecture_read .site__content .navigation > .navigation__item .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page__lecture_read .site__content .navigation > .navigation__item .select::after {
  content: "\2771";
  margin-left: 7px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all ease-out 350ms;
  transition: all ease-out 350ms;
}

.page__lecture_read .site__content .navigation > .navigation__item .select.active::after {
  content: "\2771";
  margin-left: 7px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: all ease-out 350ms;
  transition: all ease-out 350ms;
}

.page__lecture_read .site__content .lecture__content {
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px #afafaf;
          box-shadow: 0px 0px 5px #afafaf;
  padding: 5px 15px;
}

.page__lecture_read .site__content .lecture__content .title {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
  display: block;
}

.page__lecture_read .site__content .lecture__content h3 {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.page__lecture_read .site__content .lecture__content p {
  text-align: justify;
  text-indent: 15px;
}

.page__lecture_read .site__content .lecture__content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.page__lecture_read .site__content .lecture__content li {
  margin-bottom: 15px;
}

.page__lecture_read .site__content .lecture__content .next__name {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 32px;
  line-height: 1.3;
  font-weight: 500;
  text-indent: 0;
}

.page__lecture_read .site__content .lecture__content .next__start {
  text-decoration: none;
}

.page__lecture_read .site__content .lecture__content .next__start button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #0078d4;
  border: 1px solid #0078d4;
  padding: 5px 12px;
  border-radius: 1px;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 30px;
}

.page__lecture_read .site__content .lecture__content .next__start button .arrow {
  border-right: 1px solid white;
  border-top: 1px solid white;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 5px;
}

.page__lecture_read .site__content .lecture__content .next__start button:hover {
  background-color: #1486dd;
}

.page__lecture_read .site__content .lecture__content .next__chapter {
  color: #0065b3;
  text-decoration: none;
  line-height: 160%;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.page__lecture_read .site__content .lecture__content .next__chapter:hover {
  text-decoration: underline;
}

.page__lecture_read .site__content .lecture__content .next__chapter:last-child {
  margin-bottom: 30px;
}
