.page__main .site__content .start__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page__main .site__content .start__section .inscription {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 507px;
          flex: 0 1 507px;
}

.page__main .site__content .start__section .inscription .title {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.page__main .site__content .start__section .inscription .subtitle {
  text-align: justify;
  font-weight: 450;
  font-size: 1.3em;
  margin: 0;
}

.page__main .site__content .start__section .inscription .text {
  line-height: 170%;
}

.page__main .site__content .start__section .inscription a button {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 25px;
  border-radius: 3px;
  border: none;
  background-color: #5c069e;
  color: white;
  -webkit-box-shadow: 3px 3px 5px gray;
          box-shadow: 3px 3px 5px gray;
}

.page__main .site__content .start__section .inscription a button:hover {
  background-color: #6b03bb;
  -webkit-box-shadow: 5px 5px 10px gray;
          box-shadow: 5px 5px 10px gray;
}

.page__main .site__content .start__section .img__container {
  max-width: 1000px;
  margin: 100px 0;
}

@media screen and (max-width: 1200px) {
  .page__main .site__content .start__section .img__container {
    display: none;
  }
}

.page__main .site__content .start__section .img__container img {
  width: 100%;
  opacity: 0.8;
}
