@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.page__main {

    background: linear-gradient(135deg, #352663 18%, #8e366c 100%);
    .site__content {
        .site__content__info {
            i::before {
                content: "\f001";
                font-family: FontAwesome;
            }
        }
    }
}
