header {
  width: 100%;
}

header .site__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid gray;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #a5a5a5;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu .menu__item {
  padding: 20px;
  margin-left: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
}

header .menu .menu__item:hover {
  color: black;
}

header .menu .menu__item a {
  color: #a5a5a5;
  text-decoration: none;
}

header .menu .menu__item a:hover {
  color: black;
}

header .menu .menu__item a:hover mark {
  color: black;
}

header .menu .menu__item a mark {
  color: #383d90;
  background: none;
}

header .menu .menu__item.menu__item__profile__register {
  background-color: #383d90;
  color: white;
}

header .menu .menu__item.menu__item__profile__register:hover {
  color: white;
  background-color: #2f37c9;
}

header .link__icon {
  width: 25px;
  height: 25px;
  fill: white;
}

header .link__icon:hover {
  fill: #f89292;
}

.header__pop-up {
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.83);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.7;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.header__pop-up .window {
  -webkit-transform: translate(0px, -30%) rotateX(25deg);
          transform: translate(0px, -30%) rotateX(25deg);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.header__pop-up.header__pop-up_active {
  opacity: 1;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.header__pop-up.header__pop-up_active .window {
  -webkit-transform: translate(0px, 0%) rotateX(0deg);
          transform: translate(0px, 0%) rotateX(0deg);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.header__pop-up .window {
  position: relative;
  padding: 10px 25px;
  padding-bottom: 30px;
  width: 250px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  border-radius: 5px;
}

.header__pop-up .window .close {
  position: absolute;
  right: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.header__pop-up .window .close line {
  stroke: gray;
  stroke-width: 1;
}

.header__pop-up .window .close:hover line {
  stroke: black;
}

.header__pop-up .window .title {
  text-align: center;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #383d90;
  font-weight: bold;
}

.header__pop-up .window input[type="email"],
.header__pop-up .window input[type="password"],
.header__pop-up .window input[type="text"] {
  padding: 6px 12px 8px;
  font-size: 16px;
  display: block;
  margin-bottom: 15px;
  width: calc(100% - 24px);
  border: 1px solid #dce1e6;
  outline: none;
}

.header__pop-up .window input[type="email"]::-webkit-input-placeholder,
.header__pop-up .window input[type="password"]::-webkit-input-placeholder,
.header__pop-up .window input[type="text"]::-webkit-input-placeholder {
  color: #828282;
}

.header__pop-up .window input[type="email"]:-ms-input-placeholder,
.header__pop-up .window input[type="password"]:-ms-input-placeholder,
.header__pop-up .window input[type="text"]:-ms-input-placeholder {
  color: #828282;
}

.header__pop-up .window input[type="email"]::-ms-input-placeholder,
.header__pop-up .window input[type="password"]::-ms-input-placeholder,
.header__pop-up .window input[type="text"]::-ms-input-placeholder {
  color: #828282;
}

.header__pop-up .window input[type="email"]::placeholder,
.header__pop-up .window input[type="password"]::placeholder,
.header__pop-up .window input[type="text"]::placeholder {
  color: #828282;
}

.header__pop-up .window input[type="email"]:focus::-webkit-input-placeholder,
.header__pop-up .window input[type="password"]:focus::-webkit-input-placeholder,
.header__pop-up .window input[type="text"]:focus::-webkit-input-placeholder {
  color: #b2b2b2;
}

.header__pop-up .window input[type="email"]:focus:-ms-input-placeholder,
.header__pop-up .window input[type="password"]:focus:-ms-input-placeholder,
.header__pop-up .window input[type="text"]:focus:-ms-input-placeholder {
  color: #b2b2b2;
}

.header__pop-up .window input[type="email"]:focus::-ms-input-placeholder,
.header__pop-up .window input[type="password"]:focus::-ms-input-placeholder,
.header__pop-up .window input[type="text"]:focus::-ms-input-placeholder {
  color: #b2b2b2;
}

.header__pop-up .window input[type="email"]:focus::placeholder,
.header__pop-up .window input[type="password"]:focus::placeholder,
.header__pop-up .window input[type="text"]:focus::placeholder {
  color: #b2b2b2;
}

.header__pop-up .window .recover {
  text-decoration: none;
  display: block;
  font-size: 0.95rem;
  text-align: center;
  margin-top: 5px;
  color: #383d90;
}

.header__pop-up .window .recover:hover {
  text-decoration: underline;
}

.header__pop-up .window .success {
  text-align: center;
  margin-top: 10px;
  font-size: 1rem;
}

.header__pop-up .window .success mark {
  font-size: 1.2rem;
  background: none;
  font-weight: 700;
  line-height: 2;
}

.header__pop-up .window .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d93025;
  font-size: 0.85rem;
}

.header__pop-up .window .error svg {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  margin-right: 5px;
}

.header__pop-up .window .error p {
  padding: 0;
  margin: 0;
}

.header__pop-up .window input[type="submit"] {
  display: block;
  margin: 25px auto;
  margin-bottom: 0px;
  border: 1px solid gray;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px #9b9b9b;
          box-shadow: 1px 1px 5px #9b9b9b;
  cursor: pointer;
  color: white;
  font-weight: 500;
  padding: 7px 25px;
  font-size: 16px;
  background-color: #383d90;
}

.header__pop-up .window input[type="submit"]:hover {
  -webkit-box-shadow: 3px 3px 5px #a0a0a0;
          box-shadow: 3px 3px 5px #a0a0a0;
  background-color: #2e3386;
}
