.page__tests__catalog {
    .site__content {
        .search__container {
            svg {
                position: absolute;
                padding-top: 18px;
                padding-left: 15px;
                width: 18px;
                fill: gray;
            }
            input[type="search"] {
                font-size: 20px;
                padding: 15px;
                padding-left: 40px;

                border-radius: 5px;
                border: 1px solid rgb(243, 243, 243);
                width: 100%;

                display: block;
                margin-left: auto;
                margin-right: 0;
            }
        }
        .tests__catalog {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
            grid-gap: 30px;
            margin-top: 30px;
            
            .test {
                text-decoration: none;
                border: 1px solid;
                border-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%) 1;
                padding: 15px;
                cursor: pointer;

                display: flex;
                flex-direction: column;

                .title {
                    flex: 1;
                    font-weight: 700;
                    font-size: 20px;
                    color: #383d90;
                    margin-bottom: 5px;
                }
                .specifications{
                    margin-top: 5px;
                }
                .complexity {
                    color: gray;
                }
                .complexity::before {
                    color: gray;
                    content: "Сложность: ";
                }
                .question__count {
                    color: gray;
                }
                .question__count::before {
                    color: gray;
                    content: "Количество вопросов: ";
                }

                &:hover {
                    background: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
                    .title{
                        color: white;
                    }
                }
            }
        }
    }
}
