@charset "UTF-8";
.page__tests__catalog .site__content .search__container svg {
  position: absolute;
  padding-top: 18px;
  padding-left: 15px;
  width: 18px;
  fill: gray;
}

.page__tests__catalog .site__content .search__container input[type="search"] {
  font-size: 20px;
  padding: 15px;
  padding-left: 40px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.page__tests__catalog .site__content .tests__catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(600px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-gap: 30px;
  margin-top: 30px;
}

.page__tests__catalog .site__content .tests__catalog .test {
  text-decoration: none;
  border: 1px solid;
  -o-border-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%) 1;
     border-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%) 1;
  padding: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__tests__catalog .site__content .tests__catalog .test .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 700;
  font-size: 20px;
  color: #383d90;
  margin-bottom: 5px;
}

.page__tests__catalog .site__content .tests__catalog .test .specifications {
  margin-top: 5px;
}

.page__tests__catalog .site__content .tests__catalog .test .complexity {
  color: gray;
}

.page__tests__catalog .site__content .tests__catalog .test .complexity::before {
  color: gray;
  content: "Сложность: ";
}

.page__tests__catalog .site__content .tests__catalog .test .question__count {
  color: gray;
}

.page__tests__catalog .site__content .tests__catalog .test .question__count::before {
  color: gray;
  content: "Количество вопросов: ";
}

.page__tests__catalog .site__content .tests__catalog .test:hover {
  background: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}

.page__tests__catalog .site__content .tests__catalog .test:hover .title {
  color: white;
}
