.page__recover .site__content {
  max-width: 500px;
  padding: 50px;
  border-radius: 16px;
  background-color: #fcfcfc;
}

.page__recover .site__content .title {
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  font-size: 1.3rem;
}

.page__recover .site__content .text {
  text-align: center;
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #818c99;
}

.page__recover .site__content input[type='text'] {
  margin-top: 8px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-overflow: ellipsis;
  height: 42px;
  line-height: 20px;
  font-size: 16px;
  color: black;
  padding: 11px;
  background-color: #edeef0;
  border-radius: 8px;
  outline: none;
}

.page__recover .site__content input[type='text']:focus {
  border: 1px solid #5c9ce6;
}

.page__recover .site__content input[type='submit'] {
  display: block;
  margin: 20px auto;
  color: white;
  min-height: 44px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  background-color: #2688EB;
}
