.page__recover {
    .site__content {
        max-width: 500px;
        padding: 50px;
        border-radius: 16px;
        background-color: rgb(252, 252, 252);
        .title{
            font-weight: 500;
            line-height: 24px;
            text-align: center;
            font-size: 1.3rem;
        }
        .text{
            text-align: center;
            margin-top: 8px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #818c99;
        }
        input[type='text']{
            margin-top: 8px;
            width: 100%;
            box-sizing: border-box;
            border: 0;
            appearance: none;
            text-overflow: ellipsis;
            height: 42px;
            line-height: 20px;
            font-size: 16px;
            color: black;
            padding: 11px;
            background-color: rgb(237, 238, 240);
            border-radius: 8px;
            outline: none;
            &:focus{
                border: 1px solid #5c9ce6;
            }
        }
        input[type='submit']{
            display: block;
            margin: 20px auto;
            color: white;
            min-height: 44px;
            border-radius: 8px;
            border: none;
            font-size: 1rem;
            background-color: #2688EB;
        }
    }

}
