.page__lecture_read {
    .site__content {
        max-width: 1200px;
        .title{
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }

        .subsection{
            margin-left: 15px;
            margin-top: 20px;
            margin-bottom: 5px;
            font-size: 18px;
            font-weight: bold;
        }

        .text{
            text-align: justify;
            text-indent: 15px;
        }

        img{
            display: block;
            margin: 0 auto;
        }
    }
}
